<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div class="header">
      {{locales.companyinfo}}</div>
  </div>
  <div fxLayout="row wrap" class="row-header" fxLayoutGap="10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-progress-bar class="bar" [mode]="&apos;determinate&apos;" value="75"></mat-progress-bar>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <form #form="ngForm" class="formcolumn" (ngSubmit)="talentForm(form)">
      <div fxLayout="column wrap" style="padding:20px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <mat-form-field class="margin-bottom" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput name="currentjob" type="input" placeholder="{{locales.currentjob}}" required ngModel>

        </mat-form-field>
        <mat-form-field class="margin-bottom" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput name="companyname" type="input" placeholder="{{locales.companyname}}" required ngModel>

        </mat-form-field>
        <mat-form-field class="margin-bottom" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput name="function" type="input" placeholder="{{locales.function}}" required ngModel>

        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false"><button mat-button (click)="onBack()">
          <mat-icon>keyboard_arrow_left</mat-icon>Back
        </button><button mat-button type="submit"><img alt="continue" src="../../../assets/Web/Icons/back.png"></button></div>
    </form>
  </div>
</div>